<h1 class="mt-4">後台資料管理</h1>
<div class="col-md-12 col-12 my-4" style="text-align: center;">
  <a href="/admin/users">會員資料</a> ｜
  <a href="/admin/products">商品資料</a> ｜
  <a href="/admin/orders">訂單紀錄</a> ｜
  <a href="/admin/cancel">取消訂閱</a>
</div>
<table class="table table-bordered" style="text-align: center;">
  <thead class="thead-light">
    <tr>
      <th scope="col">訂單編號</th>
      <th scope="col">會員名稱</th>
      <th scope="col">訂閱方案</th>
      <th scope="col">訂單金額</th>
      <th scope="col">訂單狀態</th>
      <th scope="col">操作</th>
    </tr>
  </thead>
  <tbody>
    {{#each orders}}
    <tr>
      <td>{{this.sn}}</td>
      <td>{{this.User.name}}</td>
      <td>{{this.Product.name}} {{this.Product.english_name}}</td>
      <td>＄{{this.amount}}</td>
      <td>
        {{#ifCond ../order.id this.id}}
        <form action="/admin/cancel/{{this.id}}?_method=PUT" method="POST">
          <input type="text" name="payment_status" value="{{this.payment_status}}">
          <button type="submit" class="btn btn-link" style="padding: 0;">完成</button>
        </form>
        {{else}}
        {{this.payment_status}}
        <a href="/admin/cancel/{{this.id}}">修改</a>
        {{/ifCond}}
      </td>
      <td>
        <form action="https://ccore.newebpay.com/API/CreditCard/Cancel" method="POST">
          <input type="hidden" name="MerchantID_" value={{this.MerchantID}}>
          <input type="hidden" name="PostData_" value={{this.PostData}}>
          <button type="submit" class="btn btn-outline-dark btn-link" style="color: red;padding:0 5px">取消信用卡授權</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>