<h1 class="mt-4">後台資料管理</h1>
<div class="col-md-12 col-12 my-4" style="text-align: center;">
  <a href="/admin/users">會員資料</a> ｜
  <a href="/admin/products">商品資料</a> ｜
  <a href="/admin/orders">訂單紀錄</a> ｜
  <a href="/admin/payment">交易紀錄</a>
</div>
<a class="btn btn-dark" href="/admin/products/add">新增商品</a>
<table class="table table-bordered" style="text-align: center;">
  <thead class="thead-light">
    <tr>
      <th scope="col">＃</th>
      <th scope="col">商品名稱</th>
      <th scope="col">英文名稱</th>
      <th scope="col">商品價格</th>
      <th scope="col">商品介紹</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.name}}</td>
      <td>{{this.english_name}}</td>
      <td>＄{{this.price}}/月</td>
      <td>{{this.description}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>