<div class="col-md-12 col-12 row">
  <div class="col-md-2 col-12" style="text-align: center;padding:0 5px">
    <ul class="list-group list-group-flush">
      <h4>會員專區</h4>
      <li class="list-group-item">
        <a href="/users/profile">個人資料</a>
      </li>
      <li class="list-group-item">
        <a href="/users/orders">訂單查詢</a>
      </li>
      <li class="list-group-item">
        <a href="/users/subscribing">正在訂閱</a>
      </li>
    </ul>
  </div>
  <div class="col-md-10 col-12" style="padding: 0;">
    <h1>訂單查詢</h1>
    <br>
    <div class="table-responsive-md table-responsive">
      <table class="table" style="text-align: center;">
        <thead class="thead-light">
          <tr>
            <th scope="col">訂單編號</th>
            <th scope="col">下單時間</th>
            <th scope="col">訂單金額</th>
            <th scope="col">訂單狀態</th>
            <th scope="col">訂單操作</th>
          </tr>
        </thead>
        <tbody>
          {{#each orders}}
          <tr>
            <td><a href="/order/{{this.id}}/checkout">{{this.sn}}</a></td>
            <td>{{date this.createdAt}}</td>
            <td>${{this.amount}}/月</td>
            <td>{{this.payment_status}}</td>
            <td>
              {{#ifCond this.payment_status "完成付款"}}
              <a href="/order/{{this.id}}/checkout">查看訂單</a>
              {{/ifCond}}
              {{#ifCond this.payment_status "付款失敗"}}
              <a href="/order/{{this.id}}/checkout">立即付款</a>
              {{/ifCond}}
              {{#ifCond this.payment_status "尚未付款"}}
              <a href="/order/{{this.id}}/checkout">立即付款</a>
              {{/ifCond}}
              {{#ifCond this.payment_status "等待取消確認"}}
              <form action="/users/restore/{{this.id}}?_method=PUT" method="POST">
                <button class="btn btn-link" style="padding:0">恢復訂閱</button>
              </form>
              {{/ifCond}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>