<div>
  <h1 class="how-to-start">如何開始訂閱？</h1>
  <div class="row">
    <img class="subscribe-step" src="https://snacklips.com/wp-content/uploads/2019/09/landingpage_如何訂閱-01.png" alt="">
    <img class="subscribe-step" src="https://snacklips.com/wp-content/uploads/2019/09/landingpage_如何訂閱-02.png" alt="">
    <img class="subscribe-step" src="https://snacklips.com/wp-content/uploads/2019/09/landingpage_如何訂閱-03.png" alt="">
  </div>
</div>
<div>
  <h1 class="choose-product">選擇適合的方案</h1>
  <div class="col-md-12 col-12 row choose-product">
    {{#each products}}
    <div class="card card-product">
      <img class="card-img-top product-image" src="{{this.image}}" alt="產品圖片">
      <div class="card-body" id="{{this.name}}">
        <h1>{{this.name}}</h1>
        <small>{{this.english_name}}</small>
        {{#ifCond this.name "體驗一箱"}}
        <p id="price">NT${{this.price}}</p>
        {{else}}
        <p id="price">NT${{this.price}}/每月</p>
        {{/ifCond}}
        <h5 class="description">{{textSub_a this.description}}</h5><br>
        <h5 class="description">{{textSub_b this.description}}</h5><br>
        <h5 class="description">{{textSub_c this.description}}</h5>
      </div>
    </div>
    {{/each}}
  </div>
</div>
<div class="my-4" id="choose">
  <a class="btn rounded-pill" id="choose_button" href="/products/subscribe">
    <h3>前往選擇方案 →</h3>
  </a>
</div>