<div class="col-md-12 col-12 row">
  <div class="col-md-3 col-12 list">
    <ul class="list-group list-group-flush">
      <h4>會員專區</h4>
      <li class="list-group-item">
        <a href="/users/profile">個人資料</a>
      </li>
      <li class="list-group-item">
        <a href="/users/orders">訂單查詢</a>
      </li>
      <li class="list-group-item">
        <a href="/users/subscribing">正在訂閱</a>
      </li>
    </ul>
  </div>
  <div class="col-md-9 col-12">
    <h1>正在訂閱中<i class="fa fa-check"></i></h1>
    <br>
    <div class="col-md-12 col-12 row">
      {{#each orders}}
      <div class="card col-md-4 col-12 card-subscribing">
        <img src="{{this.Product.image}}" class="card-img-top" alt="方案圖片">
        <div class="card-body">
          <h5>{{this.Product.name}}</h5>
          <h6>{{this.Product.english_name}}</h6>
          <h6>{{date this.createdAt}}</h6>
          <p>方案到期：{{due this.createdAt}}</p>
          <a class="btn btn-outline-dark" href="/users/cancel/{{this.id}}">取消訂閱</a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>